@font-face {
    font-family: 'LLPixel';
    src: url('../fonts/LLPIXEL3.ttf');
    font-weight: bold;
}

@font-face {
	font-family: 'Glyphicons Halflings';
	src: url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/fonts/glyphicons-halflings-regular.ttf');
}
.container {
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 20px;
}

.container hr:first-of-type {
	margin-top: 0px;
}

.container section #rules-header {
	text-align: center;
}

header h1 {
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 50px;
 	font-family: 'Helvetica', sans-serif;	
	text-align: center;
}

header .row .blue {	
	color: #446576;
}

.jumbotron {
	padding: 0px !important;
	background: #FFF;
}

.jumbotron .home-left-pane-button {
	font-size: 1em;
	color: #888;
	background-color: transparent;
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 10px 15px 10px 15px;
	margin-bottom: 20px;
}

.jumbotron button:hover {
	background-color: #EEE;
}

.jumbotron p {
	font-size: 1em;
 	font-family: 'Open Sans';		
}

#navbar {
	padding-left: 0px;
}

.navbar-nav > li > a, .navbar-brand {
    padding-top: 9px !important; 
    padding-bottom:0 !important;
    height: 35px;
}
.navbar {min-height:35px !important;}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

hr {
	clear: both;	
}

section .col-sm-12 {
	padding: 0px;
	padding-bottom: 10px;
}

section h2 {
	margin-top: 0px;
}

.navbar-default {
	background: transparent;
	box-shadow: none;
	border: none;
	border-radius: 0px;
	margin-bottom: 5px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav>.active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
	color: #fff;
	background: #446576;
	border-radius: 5px;
}

.navbar-default .navbar-nav > li > a:hover {
	text-decoration: underline;	
}
.navbar-nav > li > a {
	font-size: 0.9em;
	font-family: 'Helvetica';
}

.navbar > .container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}
@media(max-width:767px){
	footer .row .col-sm-1 {
		margin-top: 15px;
	}

	#class-letter-xs-fix {
		margin-top: 5px;
	}
}

section#team div.row div.col-md-4 div.col-sm-6 div.row span.name {
	font-weight: bold;
}

section#team div.row div.col-md-4 div.col-sm-6 div.row span.description {
	font-style: italic;
}

section#team div.row div.col-md-4 div.col-sm-6:last-of-type {
	padding-top: 50px;
}


@media(max-width:767px) {
	section#team {
		text-align: center;
	}

	section#team div.col-md-4 {
		margin-bottom: 10px;
	}
}

#rules-list ol {
	padding-left: 5px;
}

#rules-list ol > li {
	margin-top: 5px;
}

#rules-list ol > li:first-of-type {
	margin-top: 0px;
}

    .faqHeader {
        font-size: 1.3em;
        margin: 20px 0px 20px 0px;
    }

    .panel-heading [data-toggle="collapse"]:after {
        content: "x"; /* "play" icon */
        float: right;
        color: #446576;
    }

    .panel-heading [data-toggle="collapse"].collapsed:after {
    	content: '+';
        color: #446576;
    }