.container {
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 20px;	
}

.container hr:first-of-type {
	margin-top: 0px;
}

header h1 {
	font-size: 45px;
 	font-family: 'Raleway', sans-serif;	
	text-align: center;
}

header .row .blue {	
	color: #446576;;
}

.jumbotron {
	padding: 0px !important;
	background: #FFF;
}

.jumbotron button {
	color: #888;
	background-color: transparent;
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 10px 15px 10px 15px;
	margin-bottom: 20px;
}

.jumbotron button:hover {
	background-color: #EEE;
}

.jumbotron p {
	font-size: 1.2em;
 	font-family: 'Raleway', sans-serif;		
}

hr {
	clear: both;	
}

section .col-sm-12 {
	padding: 0px;
	padding-bottom: 10px;
}

section h2 {
	margin-top: 0px;
}

.navbar-default {
	background: transparent;
	box-shadow: none;
	border: none;
	border-radius: 0px;
	margin-bottom: 0px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	color: #000;
	background: transparent;
}


.nav, .navbar-nav {
	display: inline-block;	
	float: none;	
}

@media(min-width:1200px) {
	.navbar .navbar-collapse {
	    text-align: center;
	}
}

@media(max-width:767px){
	footer .row .col-sm-1 {
		text-align: center;
		margin-top: 15px;
	}
}

section#team div.row div.col-md-4 div.col-sm-6 div.row span.name {
	font-weight: bold;
}

section#team div.row div.col-md-4 div.col-sm-6 div.row span.description {
	font-style: italic;
}

section#team div.row div.col-md-4 div.col-sm-6:last-of-type {
	padding-top: 50px;
}


@media(max-width:767px) {
	section#team {
		text-align: center;
	}

	section#team div.col-md-4 {
		margin-bottom: 10px;
	}
}