

*, .row{
	padding: 0;
	margin: 0;
	color: white;
}
body {
	min-height: 100%;
	height: 2000px;
	background-color: white;
}
#top-container-hack {
	height: 100vh;
}

/*.vcenter-parent {
	display: table !important;
	table-layout: fixed;
	width: 100%;
}
.vcenter {
	display: table-cell !important;
	vertical-align: middle;
}*/
.vcenter-parent {
	padding: 10% 0;
	//max-height: 100vh;
}

.container {
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 20px;
}

.container header #hacktues{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.container hr:first-of-type {
	margin-top: 0px;
}

.container section #rules-header {
	text-align: center;
}


.container .jumbotron .img-responsive {
	width: 100%;
}

/*FORMS*/

.container hr#forms-delimiter {
	margin-bottom: 0px;
	border-bottom: 20px solid #354458;
}

.container #form-container {
	padding: 0;
	background-color: #354458;
	vertical-align: middle;
}
.container #form-container h2 {
	text-align: center;
	font-size: 4em;
	margin-bottom: 150px;
}


header h1 {
	font-size: 7em;
 	//font-family: 'Raleway', sans-serif;
 	font-family: 'Amaranth';
	text-align: center;
}

header .row .blue {	
	color: #446576;;
}

#top-text {
	position: absolute;
	bottom: 0;
	font-size: 1.2em;
}

.jumbotron {
	padding: 0px !important;
	background: #FFF;
}

.jumbotron button, input[type=submit] {
	color: #888;
	background-color: transparent;
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 10px 15px 10px 15px;
	margin-bottom: 20px;
}

.jumbotron button:hover {
	background-color: #EEE;
}

.jumbotron p {
	font-size: 1.2em;
 	font-family: 'Raleway', sans-serif;		
}

.jumbotron #carousel {
	//height: 300px;
	overflow: hidden;
	margin-bottom: 5px;


	position: absolute;
	top: 0;
	left: 0;

}
.jumbotron #carousel img{
	height: 352px;
	width: 100%;

	max-height: 50vh;
	min-height: 160px;

	/*max-height: 50vh;
	min-height: 160px;*/
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);

}

hr {
	clear: both;	
}

section .col-sm-12 {
	padding: 0px;
	padding-bottom: 10px;
}

section h2 {
	margin-top: 0px;
}

.navbar-default {
	background: transparent;
	box-shadow: none;
	border: none;
	border-radius: 0px;
	margin-bottom: 0px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	color: #000;
	background: transparent;
}


.nav, .navbar-nav {
	display: inline-block;	
	float: none;	
}



#main-nav {
	top: 0;
	position: fixed;
	width: 100%;
	background-color: rgb(64,64,64);
	//background-color: rgba(64,64,64, 0.5);
	/*background-color: rgb(47,79,79);
	background-color: rgba(47,79,79, 0.9);*/
	
	z-index: 99;
	//opacity: 0.5;
}

footer {
	background-color: #3E3E3E;
}

@media(min-width:1200px) {
	.navbar .navbar-collapse {
	    text-align: center;
	}
}

@media(max-width:767px){
	footer .row .col-sm-1 {
		text-align: center;
		margin-top: 15px;
	}
}

.form-signin input, select {
	margin-bottom: 10px;
}

.form-signin .row > .col-md-6 > .col-md-6:nth-of-type(2) {
	padding: 0px;
}

@media(min-width:1200px) {
	.form-signin .row > .col-md-6 > .col-md-6:nth-of-type(1) {
		padding: 0px;
		padding-right: 10px;
	}
}

@media(max-width:767px){
	.form-signin .row > .col-md-6 > .col-md-6:nth-of-type(1) {
		padding: 0px;
	}
}

section#team div.row div.col-md-4 div.col-sm-6 div.row span.name {
	font-weight: bold;
}

section#team div.row div.col-md-4 div.col-sm-6 div.row span.description {
	font-style: italic;
}

section#team div.row div.col-md-4 div.col-sm-6:last-of-type {
	padding-top: 50px;
}


@media(max-width:767px) {
	section#team {
		text-align: center;
	}

	section#team div.col-md-4 {
		margin-bottom: 10px;
	}
}