.newsArticle {
	overflow: hidden;
	text-align: justify;
	font-family: 'Open Sans' !important;
}

.newsArticle a {
	color: #5AB3E8 !important;
}

.newsArticle a:hover {
	text-decoration: underline;
}

.div-news-footer {
	text-align: center;
	color: darkgrey;
	cursor: pointer;
	height: 20px;
	padding: 10px;
}