/*#section-register {
	width: 80%;
}
#form-exit {
	/*display: block;*/
/*	float: right;
}
#form-register {
	clear: both;
	width: 99%;
}
#form-register label {
	width: 20%;
	min-width: 70px;
}
*/
#form-panel {
	text-align: center;
}


/*.added ul {
	text-align: left;
}*/