body {
	background-color: transparent;
	text-align: center;
	font-family: railway;
}

@font-face {
    font-family: railway;
    src: url(fonts/Raleway-Thin.ttf);
}

body section h1 {
	color: white;
	font-size: 4em;
}

body section article {
	color: white;
	font-size: 1.2em;
}

#login-form {
	width: 40em;
	height: 20em;
	border: 3px solid white;
	border-radius: 15px;
	display: inline-block;
	padding-top: 8em;
	padding-right: 4em;
}

	#login-form .field {
		font-size: 180%;
		text-align: right;
	}
		#login-form .field input {
			width: 30em;
			height: 3em;
		}
		
.agenda {
	display: inline-block;
	font-size: 3em;
	border: 3px solid white;
	border-collapse: collapse;
	overflow: hidden;
}

.agenda td {
	padding: 20px;
}

dl {
	margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}

dt {
	font-weight: bold;
	font-size: 2em;
}

dd {
	margin-left: 4em;
	font-size: 1.5em;
}

.question {
	font-weight: bold;
}

#register {
	font-size: 1.7em;
	margin-top: 1em;
	margin-left: 13em;
	font-family: railway;
	border-radius: 5px;
	color: black;
	background-color: white;
}