body {
	background-color: transparent;
	text-align: center;
	font-family: railway;
}

@font-face {
    font-family: railway;
    src: url(fonts/Raleway-Thin.ttf);
}

body section h1 {
	color: white;
}

body section article {
	color: white;
}

#login-form {
	width: 700px;
	height: 300px;
	border: 3px solid white;
	border-radius: 15px;
}