body, div, header, img, nav, ul, li, input, footer, section, h1, article, p {
	margin: 0;
	padding: 0;
}

@font-face {
    font-family: railway;
    src: url(fonts/Raleway-Thin.ttf);
}

body {
	background-image: url("images/test.jpg");
	background-repeat: no-repeat;
}

#wrapper {
	color: white;
	text-align: center;
}

#wrapper header img {
	width: 60%;
}

#wrapper nav ul li {
	list-style: none;
	display: inline;
}

#wrapper nav ul li input[type="button"] {
	background-color: transparent;
	font-family: railway;
	border: 2px solid white;
	font-size: 250%;
	color: white;
	height: 5em;
	width: 5em;
	margin: 5px;
	border-radius: 15px;
	outline:none;
}

#wrapper nav ul li input:hover { 
	background-color: rgba(0, 0, 0, 0.15);
	font-family: railway;
	border: 0;
	font-size: 250%;
	color: #008CFF;
	height: 5em;
	width: 5em;
	margin: 5px;
}

.timer {
	margin-left: auto;
    margin-right: auto;
}

.timer article {
	display: inline-block;
}

.timer h1 {
	font-family: railway;
	font-size: 300%;
	margin: 30px;
}

#wrapper section iframe {
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

#wrapper footer p {
	margin: 40px auto 15px auto;
	font-size: medium;
}

.iframe-rwd  {
	position: relative;
	padding-bottom: 65.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
	width: 60%;
    margin: auto;
}
.iframe-rwd iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}